@model List<Library.Logic.Data.Book>

@if (Model.Count == 0)
{
    <b>You don't have any books!</b>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th></th>
        </tr>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <th></th>
            </tr>
        }
    </table>
}