@{
    ViewData["Title"] = "About";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-8 col-sm-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris magna nunc, pretium sed ipsum eget, sodales rutrum ante. Phasellus nec leo tempus, tincidunt metus in, eleifend metus. Nulla ut nisi sed leo feugiat fermentum. Sed aliquam pharetra nisi, id euismod nisl imperdiet quis. Morbi non arcu est. Nunc rutrum orci nec enim suscipit, nec dictum nisl tincidunt. In at semper lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis pellentesque sem ut felis malesuada, sit amet viverra velit lobortis.
    </div>
    <div class="col-md-4 col-sm-12 ">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
    </div>
</div>